a {
  color: #4fd2c2;
  text-decoration: none;
  outline: none;
  transition: color .2s;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.api-logo {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: italic;
}
.ui.divider {
  margin-top: 60px;
  margin-bottom: 60px;
}
.api-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
}
.api-container section {
  display: table;
  width: 100%;
}
.endpoint {
  padding-bottom: 50px;
}
.endpoint .name {
  text-align: left;
}
.console-results {
  height: 400px;
  overflow: scroll;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
