/node_modules
/npm-debug.log
/test/assets/package-*/
/test/assets/temp-*/
/test/reports
/test/tmp/
/httpdocs/bower_components
/httpdocs/assets/content/users
/httpdocs/assets/uploads/
/httpdocs/assets/content/uploads/
/httpdocs/assets/css/*
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.cache/bower/
.config/
.mysql_history
.npm/
.cache/
.composer/
conf/
.ssh/
.bash_profile
.bash_history

# temp
bootstrap/boot.php
httpdocs/vars.php
sub.php

# hide 
app/config/production/database.php
app/config/local/mail.php
app/config/production/mail.php
sql/*

