/node_modules
/npm-debug.log
/test/assets/package-*/
/test/assets/temp-*/
/test/reports
/test/tmp/
/httpdocs/bower_components
/httpdocs/assets/content/users
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.cache/bower/
.config/
.mysql_history
.npm/
.cache/
.composer/
conf/
.ssh/


# temp
bootstrap/boot.php
httpdocs/vars.php
sub.php