/* ----------------------------------- MIXINS ----------------------------------- */
/* Button container */
.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 45%;
  min-width: 250px;
  margin: 15px 0 10px 0;
}
/* Button style */
.progress-button button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 180px;
  height: 70px;
  border: 2px solid #4FD2C2;
  border-radius: 40px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #4fd2c2;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}
.small.progress-button {
  min-width: none;
  width: initial;
  min-width: initial;
  margin-top: 30px;
}
.small.progress-button button {
  width: 150px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: #4fd2c2;
  letter-spacing: 1px;
}
.progress-button button:hover {
  background-color: #4FD2C2;
  color: #fff;
}
.progress-button button:focus {
  outline: none;
}
/* Text (transition for when returning to initial state) */
.progress-button button span {
  transition: opacity 0.3s 0.1s;
}
/* Common style of SVGs */
.progress-button svg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.progress-button svg path {
  opacity: 0;
  fill: none;
}
.progress-button svg.progress-circle path {
  stroke: #4FD2C2;
  stroke-width: 5;
}
.progress-button svg.checkmark path,
.progress-button svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  transition: opacity 0.1s;
}
/* Loading, success and error effects */
.loading.progress-button button {
  width: 70px;
  /* make a circle */
  border-width: 5px;
  border-color: #ddd;
  background-color: transparent;
  color: #fff;
}
.loading.progress-button span {
  transition: opacity 0.15s;
}
.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
  opacity: 0;
  /* keep it hidden in all states */
}
.success.progress-button button,
.error.progress-button button {
  transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}
.success.progress-button button {
  border-color: #4FD2C2;
  background-color: #4FD2C2;
}
.error.progress-button button {
  border-color: #FB797E;
  background-color: #FB797E;
}
.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
  opacity: 1;
  transition: stroke-dashoffset 0.3s;
}
/* Optional elastic effect for the width of the button */
.elastic.progress-button button {
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
}
.loading.elastic.progress-button button {
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
}
