/* ----------------------------------- MIXINS ----------------------------------- */
/* Button container */
.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 45%;
  min-width: 250px;
  margin: 15px 0 10px 0;
}
/* Button style */
.progress-button button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 180px;
  height: 70px;
  border: 2px solid #4FD2C2;
  border-radius: 40px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #4fd2c2;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  cursor: pointer;
}
.small.progress-button {
  min-width: none;
  width: initial;
  min-width: initial;
  margin-top: 30px;
}
.small.progress-button button {
  width: 150px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: #4fd2c2;
  letter-spacing: 1px;
}
.progress-button button:hover {
  background-color: #4FD2C2;
  color: #fff;
}
.progress-button button:focus {
  outline: none;
}
/* Text (transition for when returning to initial state) */
.progress-button button span {
  transition: opacity 0.3s 0.1s;
}
/* Common style of SVGs */
.progress-button svg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.progress-button svg path {
  opacity: 0;
  fill: none;
}
.progress-button svg.progress-circle path {
  stroke: #4FD2C2;
  stroke-width: 5;
}
.progress-button svg.checkmark path,
.progress-button svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  transition: opacity 0.1s;
}
/* Loading, success and error effects */
.loading.progress-button button {
  width: 70px;
  /* make a circle */
  border-width: 5px;
  border-color: #ddd;
  background-color: transparent;
  color: #fff;
}
.loading.progress-button span {
  transition: opacity 0.15s;
}
.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
  opacity: 0;
  /* keep it hidden in all states */
}
.success.progress-button button,
.error.progress-button button {
  transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}
.success.progress-button button {
  border-color: #4FD2C2;
  background-color: #4FD2C2;
}
.error.progress-button button {
  border-color: #FB797E;
  background-color: #FB797E;
}
.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
  opacity: 1;
  transition: stroke-dashoffset 0.3s;
}
/* Optional elastic effect for the width of the button */
.elastic.progress-button button {
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
}
.loading.elastic.progress-button button {
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
}
.halp-list-menu li {
  padding: 10px;
}
.list-inline li {
  display: inline-table;
}
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* ----------------------------------- MISC ----------------------------------- */
body {
  background: #1b1b25;
  color: #404d5b;
  font-weight: 500;
  font-size: 1.05em;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #4fd2c2;
  text-decoration: none;
  outline: none;
  transition: color .2s;
}
a:hover,
a:focus {
  color: #404d5b;
}
p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 20px;
  color: #404d5b;
  font-style: normal;
  line-height: 32px;
}
h2 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 32px;
  color: #404d5b;
  font-style: italic;
  line-height: 40px;
}
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 50px;
  color: #1b1b25;
  font-style: italic;
  line-height: 68px;
}
h4 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 20px;
  color: #a2b7cd;
  font-style: italic;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #404d5b;
  line-height: 37px;
}
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #a2b7cd;
  line-height: 37px;
}
hr {
  width: 60px;
  border: 1px solid;
  margin: 30px auto;
}
.container {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.content {
  font-size: 150%;
  padding: 3em;
  background-color: #f0efee;
}
.turtle-break {
  margin: 0;
  background-color: #f0efee;
}
.turtle-break h3 {
  font-size: 38px;
  padding-top: 12px;
}
.turtle-break img {
  vertical-align: middle;
  margin: 0 10px;
}
.turtle-line {
  width: 20%;
  height: 2px;
  background-color: #E6E6E6;
  display: inline-block;
}
.ui-helper-hidden-accessible {
  display: none;
}
/* ----------------------------------- TOP NAV ----------------------------------- */
.nav {
  background-color: #1b1b25;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
}
.user {
  float: right;
  padding: 23px;
}
.username {
  padding-right: 20px;
  color: #fff;
}
.logo {
  float: left;
  padding-left: 10px;
  height: 60px;
}
.logo-text {
  padding: 15px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 32px;
  color: #404d5b;
  font-style: italic;
  text-transform: lowercase;
  position: relative;
  bottom: 19px;
  letter-spacing: 0px;
}
/* ----------------------------------- TASK CARDS ----------------------------------- */
.task {
  width: 250px;
  height: 337px;
  background-color: #fff;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 20px 16px;
  padding: 0px;
  position: relative;
}
.task .edit-bar {
  position: absolute;
  right: 0;
  bottom: -6px;
}
.task .edit-bar a {
  padding: 10px;
  display: table;
}
.task .edit-bar .fa:hover {
  color: #404d5b;
}
.task .edit-bar .fa {
  color: #cccccc;
  font-size: 18px;
  top: 2px;
  position: relative;
}
.claimed .edit-bar {
  bottom: 0px;
}
.user-created-task {
  height: 343px !important;
}
.task-focused {
  background-color: #4fd2c2;
}
.task-focused .project-name a {
  color: white;
}
.task-focused .date {
  color: white;
}
.task-focused hr {
  border-color: #404d5b !important;
}
.task-focused .small.progress-button button {
  color: white;
}
.task-focused .progress-button button {
  border-color: white !important;
}
.task-focused .progress-button button:hover {
  background-color: #404d5b !important;
  border-color: #404d5b !important;
}
.task-details {
  padding: 46px 20px 35px 20px;
}
.task-name {
  display: block;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 20px;
  color: #404d5b;
  font-style: italic;
}
.project-name {
  display: block;
  margin-bottom: -1px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #404d5b;
}
.date {
  display: block;
  text-transform: lowercase;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 14px;
  color: #a2b7cd;
  font-style: italic;
}
.date-claimed {
  display: block;
  text-transform: lowercase;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 14px;
  color: #a2b7cd;
  font-style: italic;
  padding-top: 6px;
}
.duration {
  line-height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #404d5b;
}
.task hr {
  border: 1px solid #e8e6e5;
  width: 30px;
  margin-bottom: 24px;
  margin-top: 23px;
}
.posted-by {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #F9F7F6;
  padding: 10px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #cccccc;
}
.claimed-by {
  background-color: #fff;
  padding: 10px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #cccccc;
}
.claimed {
  background-color: #F9F7F6;
  background-image: url("/assets/img/diagonal-lines.png");
  height: 253px;
}
.claimed .project-name {
  color: #cccccc;
}
.claimed .date {
  color: #cccccc;
}
.claimed .task-name {
  color: #cccccc;
}
.claimed .duration {
  color: #cccccc;
}
.claimed hr {
  border-color: #cccccc;
}
/* ------------------------------------- FORM ------------------------------------ */
.content h2 {
  margin: 0 0 27px;
  opacity: 0.1;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: -3px;
}
.content p {
  margin: 1em 0;
  padding: 5em 0 0 0;
  font-size: 0.65em;
}
.bgcolor {
  background: #f9f7f6;
}
body .nomargin-bottom {
  margin-bottom: 0;
}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(98%);
  vertical-align: top;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.05em;
  color: #aaaaaa;
  font-style: italic;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 70.25%;
  color: #d1d1d1;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.icon {
  color: #ddd;
  font-size: 150%;
}
.input--nao {
  overflow: hidden;
  padding-top: 1em;
}
.input__field--nao {
  padding: 0.5em 0em 0.4em;
  width: 100%;
  background: transparent;
  color: #4fd2c2;
  font-size: 1.25em;
}
.input__label--nao {
  position: absolute;
  top: 0.95em;
  font-size: 0.85em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  transition-timing-function: ease-out;
}
.graphic--nao {
  stroke: #DCDCDC;
  pointer-events: none;
  transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #1b1b25;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #1b1b25;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}
.example-text {
  font-size: 13px;
  text-align: left;
}
/* ------------------------------------- LOGIN ------------------------------------ */
.login {
  display: block;
  margin: 0 auto;
}
.login-button {
  padding: 10px 0px 70px 0px;
}
.login-button .progress-button button {
  width: 260px;
}
.introduction {
  background-color: #1b1b25;
  font-size: 25px;
  font-style: italic;
  color: #fff;
  font-weight: 300;
}
.introduction-content {
  width: 40%;
  margin: 0 auto;
  padding: 0px 0px 30px 0px;
}
.introduction img {
  margin-top: 100px;
}
.intro-text {
  line-height: 46px;
}
.intro-text strong {
  color: #a2b7cd;
  font-weight: 300;
}
.dark-bg {
  background: #1b1b25;
}
[placeholder]::-webkit-input-placeholder {
  opacity: 0;
  color: #cccccc;
}
[placeholder]:focus::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s 0.5s ease;
}
.alert {
  font-style: italic;
  padding-top: 28px;
  line-height: 40px;
}
/* ------------------------------------- User Profile Page  ------------------------------------ */
.check-box {
  padding: 30px 0px 10px 0px;
  cursor: pointer;
}
.notifications-setting-form button[type="submit"] {
  outline: none;
}
.hero {
  text-align: center;
  width: 100%;
  display: table;
  background-color: #F9F7F6;
  padding: 80px 0px;
}
.user-tasks {
  background-color: #f0efee;
  padding: 80px 60px;
}
.user-tasks h2 {
  padding: 30px;
}
.user-tasks .line-break {
  display: table;
  text-align: center;
  width: 100%;
  padding: 10px 10px 40px 10px;
  margin: 0 auto;
}
.user-tasks .line-break:before,
.user-tasks .line-break:after {
  content: '';
  display: table-cell;
  width: 50%;
  top: -16px;
  position: relative;
  border-bottom: 2px solid #E0DEDC;
}
.user-tasks .line-break > h2 {
  white-space: pre;
  padding: 0 30px;
}
.total-task h2 {
  font-size: 80px;
  color: #404d5b;
  font-style: normal;
  opacity: 1;
}
/* ------------------------------------- User Card  ------------------------------------ */
.user-image-most-helpful img:hover {
  border-color: #a2b7cd;
}
.user-image-most-helpful img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  border: 13px solid white;
  margin: 40px 0px 10px 0px;
  transition: border .4s;
}
.user-card {
  width: 250px;
  height: 290px;
  background-color: #fff;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 18px 1%;
  padding: 0px;
}
.user-card .user-image img {
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid white;
  margin-top: -27px;
}
.claimed-task {
  height: 210px;
  position: relative;
}
.claimed-task .return-task {
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1b1b25;
  position: absolute;
  transition: opacity .2s;
}
.claimed-task .return-task p {
  padding: 38px 30px 0px 30px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 15px;
  color: #a2b7cd;
  font-style: italic;
  line-height: 26px;
}
.claimed-task:hover .return-task {
  opacity: 1;
}
/* ------------------------------------- ADMIN ADDITIONS  ------------------------------------ */
.table {
  text-align: left;
  font-size: 18px;
}
/* ------------------------------------- IMPORTS  ------------------------------------ */
.claimed-popup {
  position: relative;
  background: #FFF;
  padding: 70px;
  width: auto;
  max-width: 620px;
  margin: 20px auto;
  text-align: center;
}
.claimed-popup h2 {
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.claimed-popup .claimed-buttons {
  width: 100%;
}
.claimed-popup .claimed-buttons button {
  display: inline-block;
}
.claimed-popup .mfp-close {
  font-size: 65px;
}
.front-facing-turtle {
  margin: 0 auto;
  display: block;
  margin-bottom: -20px;
}
.mfp-close-btn-in .mfp-close {
  margin: 20px;
  color: #4fd2c2 !important;
  font-size: 48px;
}
.mfp-bg {
  background: #4fd2c2 !important;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.ui-autocomplete {
  background: #fff;
  display: table;
  z-index: 1000;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #404d5b;
}
.ui-autocomplete li {
  line-height: 25px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.ui-autocomplete li:hover {
  color: #fff;
  background: #404d5b;
}
.ui-autocomplete .ui-state-focus {
  background-color: rgba(64, 77, 91, 0.5);
}
/* ------------------------------------- MOBILE MENU ------------------------------------ */
.menu-wrap a {
  color: #1b1b25;
}
.menu-wrap a:hover,
.menu-wrap a:focus {
  color: white;
}
.content {
  position: relative;
}
/* Menu Button */
#open-button {
  float: right;
  margin: 23px;
  cursor: pointer;
}
.open-menu {
  display: none;
}
/* Close Button */
.close-button {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: transparent;
}
.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: white;
}
.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* Menu */
.menu-wrap {
  position: absolute;
  z-index: 1001;
  width: 240px;
  height: 100%;
  font-size: 1.15em;
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  text-align: left;
}
.mobile-menu {
  background: #4fd2c2;
  width: 180px;
  height: 100%;
  padding: 2em 1em;
}
.icon-list {
  width: 280px;
}
.icon-list a {
  display: table;
  width: 100%;
  padding: 0.8em;
  padding: 13px 15px;
  margin-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0px;
}
/* Morph Shape */
.morph-shape {
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  right: 0;
  fill: #4fd2c2;
  z-index: 1000;
}
/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.show-menu .content-wrap {
  transition-delay: 0.1s;
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
.show-menu .content::before {
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* ------------------------------------- FOOTER ------------------------------------ */
.footer {
  background-image: url("/assets/img/footer.svg");
  height: 500px;
  background-size: cover;
  background-position: center;
}
.footer-info {
  padding-top: 12px;
}
.footer-info h5:hover {
  color: #4fd2c2;
}
/* ------------------------------------- EMAIL CONTENT ------------------------------------ */
.email-content {
  background-color: #fff;
  padding: 100px;
  margin: 95px 120px;
  position: relative;
}
.email-content h2 {
  font-size: 25px;
}
.email-content h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #404d5b;
  font-style: normal;
  line-height: 22px;
}
.email-content h1 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 40px;
  color: #404d5b;
  font-style: italic;
  padding: 34px 0px 24px 0px;
  line-height: 50px;
}
.email-content p {
  line-height: 34px;
  padding: 15px 30px 0px 30px;
}
.email-content .task-status {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4fd2c2;
  text-align: left;
}
.email-content .claimed {
  height: auto;
  background-image: none;
  padding: 10px;
  text-align: center;
}
.email-content .claimed h3 {
  color: white;
}
.email-content .claimer {
  font-style: italic;
  line-height: 28px;
}
.task-show {
  background-color: #2A293A;
}
/* ------------------------------------- MEDIA QUERIES ------------------------------------ */
@media screen and (max-width: 900px) {
  .footer {
    height: 360px;
  }
}
@media screen and (max-width: 650px) {
  .codrops-header h1 {
    font-size: 2.8em;
  }
  .input__label {
    font-size: 18px;
  }
  .input__field--nao {
    font-size: 24px;
  }
  .content {
    padding: 1em;
  }
  .input {
    max-width: 246px;
    margin: 0.5em;
  }
  .hero {
    padding: 30px 30px;
  }
  .total-task h2 {
    font-size: 38px;
  }
  .content h2 {
    margin: 0;
  }
  hr {
    margin: 20px auto;
  }
  .user-card {
    height: 235px;
    margin: 20px 1%;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 30px;
    line-height: 38px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 12px;
  }
  .user-image-most-helpful img {
    margin: 15px 0px 10px 0px;
  }
  .user-tasks {
    padding: 10px 0px 10px 0px;
  }
  .user-tasks .line-break {
    padding: 10px 10px 0px 10px;
  }
  .task {
    margin: 20px 0px;
  }
  .claimed-popup {
    padding: 40px;
  }
  .claimed-popup h2 {
    font-size: 22px;
    margin-bottom: 0px;
    line-height: 36px;
  }
  p {
    font-size: 14px;
    line-height: 25px;
  }
  .small.progress-button {
    margin-top: 10px;
  }
  .small.progress-button button {
    margin-top: 15px;
  }
  .user-created-task {
    height: 338px !important;
  }
  .user {
    display: none;
  }
  .open-menu {
    display: inline;
  }
  .logo-text {
    padding: 0px 10px 0px 10px;
    bottom: 23px;
    font-size: 25px;
  }
  .introduction-content {
    width: 80%;
  }
  .intro-text {
    line-height: 38px;
    font-size: 20px;
  }
  .introduction img {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .footer {
    height: 220px;
  }
  .email-content {
    padding: 50px;
    margin: 20px;
  }
  .email-content h2 {
    font-size: 20px;
    line-height: 32px;
  }
  .email-content h1 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 25px;
    color: #404d5b;
    font-style: italic;
    line-height: 35px;
  }
}
.notifications-setting-form button[type="submit"] {
  border: none;
  background-color: transparent;
}
.small.progress-button .halp-edit-button {
  border-color: #1b1b25;
  color: #1b1b25;
}
.progress-button .halp-edit-button:hover {
  background-color: #1b1b25;
  color: white;
}
.edit-card .task-details.edit {
  display: none;
}
.edit-card .task-edit {
  padding: 25px;
}
.edit-card input[type=text] {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #cccccc;
  font-family: 'Montserrat', sans-serif;
  color: #404d5b;
  margin-bottom: 10px;
}
.edit-card .cancel-edit {
  margin-top: 10px;
  font-size: 12px;
  display: table;
  text-align: center;
  width: 100%;
}
