/* ----------------------------------- MIXINS ----------------------------------- */
/* Button container */
.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 45%;
  min-width: 250px;
  margin: 15px 0 10px 0;
}
.progress-button button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 180px;
  height: 70px;
  border: 2px solid #4FD2C2;
  border-radius: 40px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #4fd2c2;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  cursor: pointer;
}
.progress-button button:hover {
  background-color: #4FD2C2;
  color: #fff;
}
.progress-button button:focus {
  outline: none;
}
/* ---------------------------- SMALL BUTTON ---------------------------- */
.small.progress-button {
  min-width: none;
  width: initial;
  min-width: initial;
  margin-top: 30px;
}
.small.progress-button button {
  width: 150px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: #4fd2c2;
  letter-spacing: 1px;
}
/* ---------------------------- SELECTOR  ---------------------------- */
.selector {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0px 0 50px 0;
  float: left;
}
.selector a {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 220px;
  height: 70px;
  line-height: 65px;
  border: 2px solid #4FD2C2;
  border-radius: 40px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #4fd2c2;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  cursor: pointer;
}
.selector a:hover {
  background-color: #4FD2C2;
  color: #fff;
}
.selector a:focus {
  outline: none;
}
/* Text (transition for when returning to initial state) */
.progress-button button span {
  transition: opacity 0.3s 0.1s;
}
/* Common style of SVGs */
.progress-button svg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.progress-button svg path {
  opacity: 0;
  fill: none;
}
.progress-button svg.progress-circle path {
  stroke: #4FD2C2;
  stroke-width: 5;
}
.progress-button svg.checkmark path,
.progress-button svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  transition: opacity 0.1s;
}
/* Loading, success and error effects */
.loading.progress-button button {
  width: 70px;
  /* make a circle */
  border-width: 5px;
  border-color: #ddd;
  background-color: transparent;
  color: #fff;
}
.loading.progress-button span {
  transition: opacity 0.15s;
}
.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
  opacity: 0;
  /* keep it hidden in all states */
}
.success.progress-button button,
.error.progress-button button {
  transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}
.success.progress-button button {
  border-color: #4FD2C2;
  background-color: #4FD2C2;
}
.error.progress-button button {
  border-color: #FB797E;
  background-color: #FB797E;
}
.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
  opacity: 1;
  transition: stroke-dashoffset 0.3s;
}
/* Optional elastic effect for the width of the button */
.elastic.progress-button button {
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
}
.loading.elastic.progress-button button {
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.halp-list-menu li {
  padding: 10px;
}
.list-inline li {
  display: inline-table;
}
.claimed-popup {
  position: relative;
  background: #FFF;
  padding: 70px;
  width: auto;
  max-width: 620px;
  margin: 20px auto;
  text-align: center;
}
.claimed-popup h2 {
  font-size: 32px;
  margin-bottom: 30px;
}
.claimed-popup .claimed-buttons {
  width: 100%;
}
.claimed-popup .claimed-buttons button {
  display: inline-block;
}
.claimed-popup .mfp-close {
  font-size: 65px;
}
.front-facing-turtle {
  position: absolute;
  margin: 0 auto;
  top: 20px;
  display: none;
}
.mfp-close-btn-in .mfp-close {
  margin: 20px;
  color: #4fd2c2 !important;
  font-size: 48px;
}
.mfp-bg {
  background: #4fd2c2 !important;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.2s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.2s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.form-field {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #a2b7cd;
  padding-bottom: 30px;
}
.form-field label {
  display: block;
  padding-bottom: 10px;
}
.form-field input {
  border: 1px solid #ECECEC;
  width: 100%;
  height: 60px;
  background-color: #FAFAFA;
  padding: 20px;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 16px;
  color: #1b1b25;
  font-style: italic;
  text-align: center;
}
.form-field input:focus {
  outline: none;
}
.form-field textarea {
  border: 1px solid #ECECEC;
  width: 100%;
  height: 150px;
  background-color: #FAFAFA;
  padding: 20px;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 16px;
  color: #1b1b25;
  font-style: italic;
  resize: none;
  line-height: 27px;
}
.form-field textarea:focus {
  outline: none;
}
.date-field {
  display: inline;
  padding-bottom: 0;
  float: right;
}
.claimed-popup {
  overflow: hidden;
}
.popup-content {
  overflow: hidden;
}
.popup-content .fields {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.popup-content .fields .form-field {
  position: relative;
}
.popup-content .form-field {
  position: relative;
}
#datepicker {
  border: 2px solid #4FD2C2;
  border-radius: 40px;
  width: 220px;
  height: 70px;
  background-color: #fff;
  margin: 0px 0 50px 0;
}
.date-wrapper {
  height: 120px;
}
.date-wrapper [placeholder]::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #4fd2c2;
  font-style: normal;
}
.edit-task-content {
  transition: height 0.8s ease 1s;
  width: 100%;
}
.edit-task-content .ui-autocomplete {
  position: absolute;
  width: 100%;
  max-width: 100%;
}
.ui-autocomplete {
  background: #fff;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  position: relative;
  width: 350px;
}
.ui-autocomplete li {
  line-height: 25px;
  padding: 10px !important;
  cursor: pointer;
  text-align: center;
}
.ui-autocomplete .ui-state-focus {
  color: #fff;
  background-color: #1b1b25 !important;
}
.ui-autocomplete li:hover {
  color: #fff;
  background: #1b1b25;
}
.ui-autocomplete .ui-state-focus {
  background-color: rgba(27, 27, 37, 0.5);
}
.ui-widget {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #404d5b;
  display: block;
  border: 0;
}
@media screen and (max-width: 1390px) {
  .ui-autocomplete {
    max-width: 246px;
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #1b1b25;
}
::-webkit-scrollbar-thumb {
  background: #4fd2c2;
}
.ui-datepicker td a,
td.ui-state-disabled span {
  padding: 14px;
}
.ui-datepicker td {
  padding: 2px;
}
.ui-corner-all {
  background-color: #1b1b25;
  border-radius: 0;
  border: 0;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  border: 0;
  background-color: #404d5b;
  text-align: center;
  color: white;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  background-color: white;
  color: #404d5b;
}
.ui-state-default:hover {
  background-color: #4fd2c2;
  color: #404d5b;
}
.ui-datepicker {
  width: 400px;
  border-radius: 20px;
  border: 14px solid #1b1b25;
  margin-left: -90px;
  margin-top: 8px;
}
.ui-datepicker:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 14px auto;
  width: 0;
  height: 0;
  border-bottom: solid 6px #1b1b25;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  display: block;
}
.ui-datepicker-current-day .ui-state-default,
.ui-datepicker-current-day .ui-state-active {
  background-color: #4fd2c2;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 3px 0;
  margin: 2px 2px 4px 2px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  font-style: italic;
  text-transform: none;
}
.ui-widget-header .ui-icon {
  background-image: url("/assets/img/ui-icons_ffffff_256x240.png");
}
.ui-widget-header .ui-state-hover {
  background-color: #1b1b25;
  border: 0px;
}
.ui-datepicker-next:hover {
  right: 2px;
  cursor: pointer;
  top: 2px;
}
.ui-datepicker-prev:hover {
  left: 2px;
  cursor: pointer;
  top: 2px;
}
.ui-datepicker table {
  margin: 0 0 2px;
}
.ui-helper-hidden-accessible {
  display: none;
}
.task.expired {
  background-color: #ff8080 !important;
}
.task {
  width: 250px;
  height: 337px;
  background-color: #fff;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 20px 16px;
  padding: 0px;
  position: relative;
}
.task .card-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.task .edit-bar {
  position: absolute;
  right: 0;
  bottom: -6px;
}
.task .edit-bar a {
  padding: 10px;
  display: table;
}
.task .edit-bar .fa:hover {
  color: #404d5b;
}
.task .edit-bar .fa {
  color: #cccccc;
  font-size: 18px;
  top: -2px;
  position: relative;
}
.task .date.expired {
  color: #ff8080;
}
.user-created-task {
  height: 343px !important;
}
.task-focused {
  background-color: #4fd2c2 !important;
}
.task-focused .project-name a {
  color: white;
}
.task-focused .date {
  color: white;
}
.task-focused hr {
  border-color: #404d5b !important;
}
.task-focused .small.progress-button button {
  color: white;
}
.task-focused .progress-button button {
  border-color: white !important;
}
.task-focused .progress-button button:hover {
  background-color: #404d5b !important;
  border-color: #404d5b !important;
}
.task.claimed.task-focused .task-name,
.task.claimed.task-focused .date,
.task.claimed.task-focused .duration {
  color: #404d5b;
}
.task-details {
  padding: 46px 20px 35px 20px;
}
.task-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding: 2px 0px;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 20px;
  color: #404d5b;
  font-style: italic;
}
.project-name {
  display: block;
  margin-bottom: -1px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #404d5b;
}
.date {
  display: block;
  text-transform: lowercase;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 14px;
  color: #a2b7cd;
  font-style: italic;
}
.date-claimed {
  display: block;
  text-transform: lowercase;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 14px;
  color: #a2b7cd;
  font-style: italic;
  padding-top: 6px;
}
.duration {
  line-height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #404d5b;
}
.task hr {
  border: 1px solid #e8e6e5;
  width: 30px;
  margin-bottom: 24px;
  margin-top: 23px;
}
.posted-by {
  background-color: #F9F7F6;
  padding: 10px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #cccccc;
}
.claimed-by {
  background-color: #fff;
  padding: 10px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #cccccc;
}
.task.user-created-card {
  height: 337px;
}
.claimed {
  background-color: #F9F7F6;
  background-image: url("/assets/img/diagonal-lines.png");
  height: 253px;
}
.claimed .project-name {
  color: #cccccc;
}
.claimed .date {
  color: #cccccc;
}
.claimed .task-name {
  color: #cccccc;
}
.claimed .duration {
  color: #cccccc;
}
.claimed hr {
  border-color: #cccccc;
}
.user-card {
  width: 250px;
  height: 290px;
  background-color: #fff;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 18px 1%;
  padding: 0px;
}
.user-card .user-image img {
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid white;
  margin-top: -27px;
}
.claimed-task {
  height: 210px;
  position: relative;
}
.claimed-task .return-task {
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1b1b25;
  position: absolute;
  transition: opacity .2s;
}
.claimed-task .return-task p {
  padding: 38px 30px 0px 30px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 15px;
  color: #a2b7cd;
  font-style: italic;
  line-height: 26px;
}
.claimed-task:hover .return-task {
  opacity: 1;
}
.login {
  display: block;
  margin: 0 auto;
}
.login-button {
  padding: 10px 0px 70px 0px;
}
.login-button .progress-button button {
  width: 260px;
}
.introduction {
  background-color: #1b1b25;
  font-size: 25px;
  font-style: italic;
  color: #fff;
  font-weight: 300;
}
.introduction-content {
  width: 40%;
  margin: 0 auto;
  padding: 0px 0px 30px 0px;
}
.introduction img {
  margin-top: 100px;
}
.intro-text {
  line-height: 46px;
}
.intro-text strong {
  color: #a2b7cd;
  font-weight: 300;
}
.dark-bg {
  background: #1b1b25;
}
.email-content {
  width: 60%;
  padding: 100px;
  background-color: #fff;
  margin: 40px auto;
}
.email-content h3 {
  font-size: 40px;
  line-height: 52px;
}
.email-content p {
  font-size: 17px;
  line-height: 29px;
  padding-top: 27px;
}
.email-content .date {
  padding-top: 12px;
}
.task-show {
  background-color: #404d5b;
}
.task-status-detail-page {
  height: auto;
  background: #4fd2c2;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
}
.menu-wrap {
  display: none;
}
.menu-wrap a {
  color: #1b1b25;
}
.menu-wrap a:hover,
.menu-wrap a:focus {
  color: white;
}
.content {
  position: relative;
}
/* Menu Button */
#open-button {
  float: right;
  margin: 23px;
  cursor: pointer;
}
.open-menu {
  display: none;
}
/* Close Button */
.close-button {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: transparent;
}
.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: white;
}
.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* Menu */
.menu-wrap {
  position: absolute;
  z-index: 1001;
  width: 240px;
  height: 100%;
  font-size: 1.15em;
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  text-align: left;
}
.mobile-menu {
  background: #4fd2c2;
  width: 180px;
  height: 100%;
  padding: 2em 1em;
}
.icon-list {
  width: 280px;
}
.icon-list a {
  display: table;
  width: 100%;
  padding: 0.8em;
  padding: 13px 15px;
  margin-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0px;
}
/* Morph Shape */
.morph-shape {
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  right: 0;
  fill: #4fd2c2;
  z-index: 1000;
}
/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.show-menu .content-wrap {
  transition-delay: 0.1s;
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
.show-menu .content::before {
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.input-error {
  position: absolute;
  z-index: 1000;
  background: #1b1b25;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: white;
  padding: 12px;
  border-radius: 20px;
  margin-top: 0px;
}
.input-error.animated {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}
.input-error:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: solid 6px #1b1b25;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
}
input.has-error {
  color: #FF6666;
}
.footer {
  background-size: cover;
  background-position: center;
}
.footer .footer-bg {
  position: absolute;
  z-index: 50;
  width: 100%;
}
.footer .container {
  position: relative;
  z-index: 100;
}
.footer-info {
  padding-top: 12px;
}
.footer-info img {
  padding-top: 4px;
}
.footer-info h5:hover {
  color: #4fd2c2;
}
#star-1 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
#star-2 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
#star-3 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#star-4 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
#star-5 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
#star-6 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
#star-7 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#star-8 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
#star-9 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
#star-10 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#star-11 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
#star-12 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
#star-13 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
#star-14 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
#star-15 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
#star-16 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#star-17 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#star-18 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
#star-19 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#star-20 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
#star-21 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
#star-22 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
#star-23 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#star-24 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
#star-25 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
#star-26 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#ripple1 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#ripple2 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1.33s;
          animation-delay: 1.33s;
}
#ripple3 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1.66s;
          animation-delay: 1.66s;
}
.made-at-ideo {
  padding-top: 5px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 15px;
  color: #404d5b;
  font-style: italic;
}
.pagination {
  margin-top: 18px;
  margin-bottom: 28px;
}
.pagination li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline;
  margin-right: 2px;
}
.pagination li.disabled,
.pagination li.active,
.pagination li a {
  padding: 10px;
  background-color: #F9F7F6;
}
.pagination li.disabled {
  color: rgba(64, 77, 91, 0.5);
}
.pagination li.active {
  color: #4fd2c2;
}
.pagination li a {
  color: #404d5b;
}
.pagination li a:hover {
  background-color: #404d5b;
  color: white;
}
.pagination li:last-child {
  margin-right: 0;
}
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* ----------------------------------- MISC ----------------------------------- */
body {
  background: #1b1b25;
  color: #404d5b;
  font-weight: 500;
  font-size: 1.05em;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #4fd2c2;
  text-decoration: none;
  outline: none;
  transition: color .2s;
}
a:hover,
a:focus {
  color: #404d5b;
}
p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 20px;
  color: #404d5b;
  font-style: normal;
  line-height: 32px;
}
.details {
  font-size: 16px;
  font-style: italic;
  color: #a2b7cd;
  line-height: 32px;
  padding-top: 22px;
}
h2 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 32px;
  color: #404d5b;
  font-style: italic;
  line-height: 40px;
}
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 50px;
  color: #1b1b25;
  font-style: italic;
  line-height: 68px;
}
.light-h3 {
  color: #fff;
}
h4 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 20px;
  color: #a2b7cd;
  font-style: italic;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #404d5b;
  line-height: 37px;
}
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #a2b7cd;
  line-height: 37px;
}
.special-note {
  line-height: 23px;
  color: #4fd2c2;
}
.more-details {
  padding-top: 10px;
}
.user-name-leaderboard h5 {
  color: #fff;
}
hr {
  width: 60px;
  border: 1px solid;
  margin: 30px auto;
}
.container {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.content {
  font-size: 150%;
  padding: 80px;
  background-color: #f0efee;
}
.turtle-break {
  margin: 0;
  background-color: #f0efee;
}
.turtle-break h3 {
  font-size: 38px;
  padding-top: 12px;
}
.turtle-break img,
.turtle-break svg {
  vertical-align: middle;
  margin: 0 10px;
}
.turtle-line {
  width: 20%;
  height: 2px;
  background-color: #E6E6E6;
  display: inline-block;
}
.turtle-svg {
  display: inline-table;
}
.halp-special-text {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
  font-style: italic;
  text-transform: lowercase;
}
.i-need {
  line-height: 70px;
  bottom: 1px;
  position: relative;
}
.user-details hr {
  color: #fff;
}
/* ----------------------------------- TOP NAV ----------------------------------- */
.nav {
  background-color: #1b1b25;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
}
.user {
  float: right;
  padding: 23px;
}
.username {
  padding-right: 20px;
  color: #fff;
}
.logo {
  float: left;
  padding-left: 10px;
  height: 60px;
}
.logo-text {
  padding: 15px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 32px;
  color: #404d5b;
  font-style: italic;
  text-transform: lowercase;
  position: relative;
  bottom: 19px;
  letter-spacing: 0px;
}
/* ------------------------------------- FORM ------------------------------------ */
.content h2 {
  margin: 0 0 27px;
  opacity: 0.1;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: -3px;
}
.content p {
  margin: 1em 0;
  padding: 5em 0 0 0;
  font-size: 0.65em;
}
body .nomargin-bottom {
  margin-bottom: 0;
}
.input-group {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: 350px;
  vertical-align: top;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.05em;
  color: #aaaaaa;
  font-style: italic;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 70.25%;
  color: #a2b7cd;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.icon {
  color: #ddd;
  font-size: 150%;
}
.input--nao {
  overflow: hidden;
  padding-top: 1em;
}
.input--nao [placeholder]::-webkit-input-placeholder {
  opacity: 0;
  color: #1b1b25;
}
.input--nao [placeholder]:focus::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s 0.5s ease;
}
.input__field--nao {
  padding: 0.5em 0em 0.4em;
  width: 100%;
  background: transparent;
  color: #4fd2c2;
  font-size: 1.25em;
}
.input__label--nao {
  position: absolute;
  top: 0.95em;
  font-size: 0.85em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  transition-timing-function: ease-out;
}
.graphic--nao {
  stroke: #a2b7cd;
  pointer-events: none;
  transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #fff;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #fff;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}
.example-text {
  font-size: 13px;
  text-align: left;
}
.alert {
  font-style: italic;
  padding-top: 28px;
  line-height: 40px;
}
/* ------------------------------------- User Profile Page  ------------------------------------ */
.check-box {
  padding: 30px 0px 10px 0px;
  cursor: pointer;
}
.notifications-setting-form button[type="submit"] {
  outline: none;
}
.hero {
  text-align: center;
  width: 100%;
  display: table;
  background-color: #F9F7F6;
  padding: 80px 0px;
}
.hero hr {
  color: #fff;
}
.hero p {
  color: #a2b7cd;
}
.hero h5 {
  color: #fff;
}
.user-tasks {
  background-color: #f0efee;
  padding: 80px 60px;
}
.user-tasks .line-break {
  display: table;
  text-align: center;
  width: 100%;
  padding: 10px 10px 40px 10px;
  margin: 0 auto;
}
.user-tasks .line-break:before,
.user-tasks .line-break:after {
  content: '';
  display: table-cell;
  width: 50%;
  top: -16px;
  position: relative;
  border-bottom: 2px solid #E0DEDC;
}
.user-tasks .line-break > h2 {
  white-space: pre;
  padding: 0 70px;
}
.total-task h2 {
  font-size: 80px;
  color: #404d5b;
  font-style: normal;
  opacity: 1;
}
.user-overview img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  border: 13px solid #1b1b25;
}
/* ------------------------------------- LEADERBOARD  ------------------------------------ */
.user-image-most-helpful img:hover {
  border-color: #4fd2c2;
}
.user-image-most-helpful a img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  border: 13px solid #1b1b25;
  margin: 40px 0px 10px 0px;
  transition: border .4s;
  z-index: 10;
  position: relative;
}
.bird-left {
  position: relative;
  top: -53px;
  right: -7px;
  z-index: 3;
}
.bird-right {
  position: relative;
  top: -53px;
  left: -7px;
  z-index: 3;
}
.bgcolor {
  background: #f9f7f6;
}
.bgcolor2 {
  background: #404d5b;
}
.rain-bg {
  background: #404d5b;
  background-image: url("/assets/img/rain.svg");
  background-size: cover;
  background-position: center;
}
.notifications-setting-form button[type="submit"] {
  border: none;
  background-color: transparent;
}
.small.progress-button .halp-edit-button {
  border-color: #1b1b25;
  color: #1b1b25;
}
.progress-button .halp-edit-button:hover {
  background-color: #1b1b25;
  color: white;
}
.edit-card .task-details.edit {
  display: none;
}
.edit-card .task-edit {
  padding: 25px;
}
.edit-card input[type=text] {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #cccccc;
  font-family: 'Montserrat', sans-serif;
  color: #404d5b;
  margin-bottom: 10px;
}
.edit-card .cancel-edit {
  margin-top: 10px;
  font-size: 12px;
  display: table;
  text-align: center;
  width: 100%;
}
/* ------------------------------------- PROGRESS BAR ------------------------------------ */
.task-ratio {
  margin: 0 auto;
}
.progress-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  line-height: 37px;
  padding-top: 22px;
}
.tug-of-war {
  height: 59px;
  width: 840px;
  margin: 0 auto;
}
.tug-of-war-turtle {
  float: left;
  position: relative;
  bottom: 54px;
  left: 25px;
  z-index: 200;
}
.tug-of-war-skunk {
  float: right;
  position: relative;
  bottom: 67px;
  left: 20px;
  z-index: 200;
}
.meter {
  height: 5px;
  position: relative;
  margin: 30px auto;
  background: #404d5b;
  border-radius: 25px;
  padding: 0px;
  width: 680px;
}
.meter > span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.slash {
  color: #33394A;
}
.leaderboard-hr {
  color: #a2b7cd !important;
}
@media screen and (max-width: 1390px) {
  .input__label {
    font-size: 18px;
  }
  .input__field--nao {
    font-size: 24px;
  }
  .input {
    max-width: 246px;
    margin: 0.44em;
  }
  .input-error {
    margin-top: -2px;
    left: 38%;
  }
  .progress-button {
    margin: 27px 0 17px 0;
  }
}
@media screen and (max-width: 1000px) {
  .tug-of-war {
    width: 520px;
  }
  .meter {
    width: 350px;
  }
}
@media screen and (max-width: 750px) {
  .content {
    padding: 20px;
  }
}
@media screen and (max-width: 650px) {
  .input {
    margin: 0;
  }
  .input__label {
    font-size: 16px;
  }
  .input__field--nao {
    font-size: 22px;
  }
  .user-overview img {
    width: 160px;
    height: 160px;
  }
  .user-image-most-helpful a img {
    width: 160px;
    height: 160px;
    margin: 19px 0px 10px 0px;
  }
  .tug-of-war img {
    display: none;
  }
  .tug-of-war {
    width: 300px;
  }
  .meter {
    width: 230px;
  }
  .codrops-header h1 {
    font-size: 2.8em;
  }
  .content {
    padding: 20px 10px;
  }
  .hero {
    padding: 30px 30px;
  }
  .total-task h2 {
    font-size: 38px;
  }
  .content h2 {
    margin: 0;
  }
  hr {
    margin: 20px auto;
  }
  .user-card {
    height: 235px;
    margin: 20px 1%;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 30px;
    line-height: 38px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 12px;
  }
  .user-image-most-helpful img {
    margin: 15px 0px 10px 0px;
  }
  .user-tasks {
    padding: 10px 0px 10px 0px;
  }
  .user-tasks h6 {
    display: none;
  }
  .user-tasks .line-break:before,
  .user-tasks .line-break:after {
    border-bottom: none;
  }
  .user-tasks .line-break {
    padding: 10px 10px 0px 10px;
  }
  .task {
    margin: 20px 0px;
  }
  .claimed-popup {
    padding: 60px 20px;
  }
  .claimed-popup h2 {
    font-size: 22px;
    margin-bottom: 18px;
    line-height: 36px;
    margin-top: 0px;
  }
  .selector {
    display: block;
    float: none;
    margin: 0px 0 20px 0;
  }
  .date-field {
    float: none;
    display: block;
  }
  .date-wrapper {
    height: 210px;
  }
  p {
    font-size: 14px;
    line-height: 25px;
  }
  .small.progress-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .small.progress-button button {
    margin-top: 15px;
  }
  .user-created-task {
    height: 338px !important;
  }
  .user {
    display: none;
  }
  .open-menu {
    display: inline;
  }
  .logo-text {
    padding: 0px 10px 0px 10px;
    bottom: 23px;
    font-size: 25px;
  }
  .introduction-content {
    width: 80%;
    padding: 0;
  }
  .intro-text {
    line-height: 38px;
    font-size: 17px;
  }
  .introduction img {
    margin-top: 12px;
    margin-bottom: 30px;
  }
  .footer {
    height: 220px;
  }
  .footer .footer-bg {
    display: none;
  }
  .halp-list-menu li {
    padding: 0px 10px;
  }
  .made-at-ideo {
    padding-top: 43px;
  }
  .email-content {
    padding: 50px;
    margin: 20px auto;
    width: 90%;
  }
  .email-content p {
    font-size: 14px;
    line-height: 24px;
  }
  .email-content h3 {
    font-size: 29px;
    line-height: 37px;
  }
  .email-content h2 {
    font-size: 20px;
    line-height: 32px;
  }
  .email-content h1 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 25px;
    color: #404d5b;
    font-style: italic;
    line-height: 35px;
  }
  .email-content .claimer {
    font-size: 14px;
    line-height: 24px;
  }
  .email-content h4 {
    line-height: 24px;
  }
  .ui-autocomplete {
    background: #eee;
  }
  .ui-datepicker {
    width: 280px;
    margin-left: -30px;
  }
  .ui-datepicker td a {
    padding: 12px 7px;
  }
  .form-field input {
    width: 263px;
  }
  .bird-left {
    display: none;
  }
  .bird-right {
    display: none;
  }
  .menu-wrap {
    display: block;
  }
}
