@import 'base.less';
@import 'common.less';

.admin {
	max-width: 900px;
	padding: 0 10px;
	margin: 0 auto;
	margin-top: 50px;
	
	
	.circle-img {
		border-radius: 50%;
	}


	.content {
  		font-size: inherit;
  		padding:  inherit;
  		background-color: transparent;
	}
}