@import 'base.less';
@import 'common.less';

.admin {
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	
	
	.circle-img {
		border-radius: 50%;
	}


	.content {
  		font-size: inherit;
  		padding:  inherit;
	}

	.text-center {
		text-align: center;
	}



}