@import 'base.less'; 
@import 'common.less';

body {
	margin:0; padding:0;;
}

table {
	background-color: #F0EFEE;
	width: 100%;
	padding: 50px;
}
.container{
	text-align: center;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
.unsubscribe {
	margin: 25px;
	display: block;
	font-family: 'Montserrat', Arial, sans-serif;  
	font-size: 12px;
	
	color: #ccc;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.email-content{
	width: 60%; 
	padding: 100px; 
	background-color: #fff; 
	margin: 40px auto; 
	border-radius: 10px;
	overflow: hidden;
}
.footer {
	margin: 0 auto;
	text-align: center;
 	font-family: 'Merriweather', serif;
  	color: #cccccc;
  	font-size: 12px;
  	padding-bottom: 100px;
}
h1{
	font-family: 'Merriweather', Georgia, serif; 
	color: @mint; 
	font-size:45px; 
	font-weight: 300;
	line-height: 46px;
}

h2{
	font-family: 'Merriweather', Georgia, serif; 
	color: @purple; 
	font-style: italic; 
	font-size: 26px; 
	font-weight: 100;
	line-height: 28px;
}

h3{
	color: @purple; 
	text-transform:uppercase; 
	font-family: Arial; 
	font-weight: bold; 
	font-size: 13px;
}

hr{
	border: 0; 
	width: 10%; 
	border-bottom: 2px solid @purple; 
	margin-top: 40px; 
	margin-bottom: 40px;
}

p{
	font-family: 'Merriweather', Georgia, serif; 
	color: @grey;
	font-size:17px; 
	font-weight:100; 
	line-height:26px;
	padding: 0px 90px;
}

a{
	color: @mint; 
	text-decoration: none;
}

.rounded-button{
	padding: 20px; 
	border: 2px solid @mint; 
	border-radius: 30px; 
	text-transform: uppercase; 
	font-family: 'Montserrat', Arial, sans-serif; 
	font-size: 13px; 
	font-weight: bold; 
	width: 200px; 
	margin: 40px auto;
}

// ------------------------------------------------------------------------
// New Letters
// ------------------------------------------------------------------------
table.news-letter {
	padding: 20px;
}
.news-letter {
	p {
		padding: 0 50px;
	}
	.img-responsive {
		width: 100%
	}
	.email-content {
		padding: 0;
		width: 100%;
		background: #2A293A !important;
	}
}


// ------------------------------------------------------------------------
@media screen and (max-width: 930px) {
	.email-content {
		padding: 80px;
	}
	p{
		padding: 0px;
	}
}
@media screen and (max-width: 650px) {
	.email-content{
		padding: 50px;
	}
	h1{
		font-size: 35px;
		line-height: 38px;
	}
	h2{
		font-size: 18px;
		line-height: 24px;
	}
	hr{
		margin-top: 20px;
 	 	margin-bottom: 23px;
	}
}
@media screen and (max-width: 460px) {
	.email-content{
		padding: 30px 30px 10px 30px;
		margin: 20px auto; 
	}

	h1{
		font-size: 25px;
		margin: 20px 0px;
		line-height: 31px;
	}
	.rounded-button{
		width: 120px; 
	}
	h3{
		font-size: 11px;
	}
	p{
		font-size: 15px;
	}
}
