@import 'base.less'; 
@import 'common.less';

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

/* ----------------------------------- MISC ----------------------------------- */

body {
	background: #f0efee;
	color: @purple;
	font-weight: 500;
	font-size: 1.05em;
	font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
}
a {
	color: @mint;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: @purple;
}

p{
	.serif(20px, 400, normal, @purple);
	line-height: 32px;
}

h2{
	.serif(32px, 300, italic, @purple);
	line-height: 40px;
}

h3{
	.serif(50px, 300, italic, @purple);
}

h5{
	.sans-serif(14px, @purple);
}

hr{
	width: 60px;
  	border: 1px solid;
  	margin: 30px auto;
}

.container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.content {
	font-size: 150%;
	padding: 1.5em 0 3em 0;
}

.turtle-break {
	margin: 50px 0;
}
.turtle-break img {
	vertical-align: middle;
  	margin: 0 10px;
}
.turtle-line {
  	width: 20%;
  	height: 2px;
  	background-color: #E6E6E6;
  	display: inline-block;
}

/* ----------------------------------- TOP NAV ----------------------------------- */

.nav{
	background-color: @dark-purple;
	height: 60px;
	.sans-serif(12px, #fff);
}

.user{
	float: right;
  	padding: 23px;
}

.username{
	padding-right: 20px;
	color: #fff;
}

.logo{
	float: left;
	padding-left: 10px
}

.logo-text{
	padding: 15px;
	.serif(32px, 300, italic, @purple);
	text-transform: lowercase;
	position: relative;
  	bottom: 19px;
  	letter-spacing: 0px;
}

/* ----------------------------------- TASK CARDS ----------------------------------- */

.task , .user-card {
	width: 250px;
	height: 342px;
	background-color: #fff;
	text-align: center;
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    padding: 0px;
}

.task-details{
	padding: 50px 20px 33px 20px;	
}

.task-name{
	display: block;
	.serif(20px, 500, italic, @purple);
}

.project-name{
	display: block;
	margin-bottom: 7px;
	.sans-serif(12px, @purple);
}
.date{
	display: block;
	text-transform: lowercase;
  	.serif(14px, 500, italic, @light-purple);
}
.duration{
  line-height: 37px;
  text-transform: lowercase;
  .serif(16px, 500, noraml, @purple);
}

.task hr{
	border: 1px solid #e8e6e5;
  	width: 30px;
  	margin-bottom: 24px;
  	margin-top: 23px;
}
.posted-by{
  	background-color: #F9F7F6;
  	padding: 10px 5px;
  	.sans-serif(12px, @grey);
}
.claimed-by{
  	background-color: #fff;
  	padding: 10px 5px;
  	.sans-serif(12px, @grey);
}

.claimed{
	background-color: #F9F7F6;
	background-image: url("@{img-path}diagonal-lines.png");
	height: 230px;
}
.claimed .project-name{
	color: @grey;
}
.claimed .date{
	color: @grey;
}
.claimed .task-name{
	color: @grey;
}
.claimed .duration{
	color: @grey;
}
.claimed hr{
	border-color: @grey;
}


/* ------------------------------------- FORM ------------------------------------ */

.content h2 {
  	margin: 0 0 27px;
  	opacity: 0.1;
  	font-size: 70px;
  	font-weight: 300;
  	letter-spacing: -3px;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

.bgcolor { background: #f9f7f6; }

body .nomargin-bottom {
	margin-bottom: 0;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	.serif(1.05em, 300, italic, #aaa);
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	.serif(70.25%, 500, normal, #D1D1D1);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input--nao {
	overflow: hidden;
	padding-top: 1em;
}

.input__field--nao {
	padding: 0.5em 0em 0.4em;
	width: 100%;
	background: transparent;
	color: @mint;
	font-size: 1.25em;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.graphic--nao {
	stroke: #DCDCDC;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: @dark-purple;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: @dark-purple;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}

.example-text{
	font-size: 13px;
	text-align: left;
}

/* ------------------------------------- LOGIN ------------------------------------ */

.login{
	display: block;
	margin: 0 auto;
}

.login-button{
	padding: 10px 0px 70px 0px;
}

.login-button .progress-button button{
	width: 260px;
}

.introduction{
	background-color: @dark-purple;
  	font-size: 25px;
  	font-style: italic;
  	color: #fff;
  	font-weight: 300;
}

.introduction-content{
  	width: 40%;
  	margin: 0 auto;
  	padding: 0px 0px 30px 0px
}

.introduction img{
	margin-top: 100px;
}

.intro-text{
  	line-height: 46px;
}

.intro-text strong{
	color: @mint;
	font-weight: 300;
}

.dark-bg{
	background: @dark-purple;
}

[placeholder]::-webkit-input-placeholder {
  opacity: 0;
  color: @grey;
}

[placeholder]:focus::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s 0.5s ease;
}

.alert{
	font-style: italic;
  	padding-top: 28px;
}

/* ------------------------------------- User Profile Page  ------------------------------------ */

.check-box{
	padding: 30px 0px 10px 0px;
}

.hero {
	text-align: center;
	width: 100%;
  	display: table;
	background-color: #F9F7F6;
	padding: 80px 0px;
}

.user-tasks {

	padding: 80px 60px;

	h2 {
		padding: 30px;
	}

	.line-break{ 
	  display:table;
	  text-align:center; 
	  width:100%; 
	  padding:10px 10px 40px 10px;
	  margin:0 auto;
	}
	.line-break:before, .line-break:after{ 
	  	content:'';
		display:table-cell; 
		width:50%;
	 	top: -15px;
  		position: relative;
  		border-bottom: 1px solid #E0DEDC;
	}
	.line-break > h2{ white-space:pre; padding:0 30px; }
}

/* ------------------------------------- User Card  ------------------------------------ */
.user-card {
	.user-image img {
		border-radius: 50%;
		overflow: hidden;	
		border: 7px solid white;
  		margin-top: -27px;
  	}
}
.claimed-task {
	height: 210px;
	position: relative;

	.return-task {
		opacity: 0;
		p {
			padding: 38px 30px 0px 30px;
			.serif(15px, 400, italic, @light-purple);
			line-height: 26px;
		}
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: @dark-purple;
		position:absolute;
		-webkit-transition: opacity .2s;
    	transition: opacity .2s;
	}
}
.claimed-task:hover {
	.return-task {
		opacity: 1;
	}
}


/* ------------------------------------- MEDIA QUERIES ------------------------------------ */

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}


// ------------------------------------------------------------------------
@import 'popup.less';
@import 'ui.less';