@import 'base.less'; 
@import 'common.less';
@import 'helpers.less';
@import 'popup.less';
@import 'ui.less';
@import 'cards.less';
@import 'login.less';
@import 'taskdetail.less';
@import 'mobilemenu.less';

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

/* ----------------------------------- MISC ----------------------------------- */

body {
	background: @dark-purple;
	color: @purple;
	font-weight: 500;
	font-size: 1.05em;
	font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
}
a {
	color: @mint;
	text-decoration: none;
	outline: none;
	-webkit-transition: color .2s;
   	transition: color .2s;
}

a:hover, a:focus {
	color: @purple;
}

p{
	.serif(20px, 400, normal, @purple);
	line-height: 32px;
}
.details{
	font-size: 16px;
	font-style: italic;
	color: @light-purple;
	line-height: 32px;
	padding-top: 22px;
}  

h2{
	.serif(32px, 300, italic, @purple);
	line-height: 40px;
}

h3{
	.serif(50px, 300, italic, @dark-purple);
	line-height: 68px;
}

h4{
	.serif(20px, 400, italic, @light-purple);
}

h5{
	.sans-serif(13px, @purple);
	line-height: 37px;
}
h6{
	.sans-serif(13px, @light-purple);
	line-height: 37px;
}

hr{
	width: 60px;
  	border: 1px solid;
  	margin: 30px auto;
}

.container {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.content {
	font-size: 150%;
	padding: 3em;
	background-color: #f0efee;
}

.turtle-break {
	margin: 0;
	background-color: #f0efee;
	h3{
		font-size: 38px;
		padding-top: 12px;
	}
}
.turtle-break img {
	vertical-align: middle;
  	margin: 0 10px;
}
.turtle-line {
  	width: 20%;
  	height: 2px;
  	background-color: #E6E6E6;
  	display: inline-block;
}
.ui-helper-hidden-accessible{
	display: none;
}


/* ----------------------------------- TOP NAV ----------------------------------- */

.nav{
	background-color: @dark-purple;
	height: 60px;
	.sans-serif(12px, #fff);
}

.user{
	float: right;
  	padding: 23px;
}

.username{
	padding-right: 20px;
	color: #fff;
}

.logo{
	float: left;
	padding-left: 10px;
	height: 60px;
}

.logo-text{
	padding: 15px;
	.serif(32px, 300, italic, @purple);
	text-transform: lowercase;
	position: relative;
  	bottom: 19px;
  	letter-spacing: 0px;
}



/* ------------------------------------- FORM ------------------------------------ */

.content h2 {
  	margin: 0 0 27px;
  	opacity: 0.1;
  	font-size: 70px;
  	font-weight: 300;
  	letter-spacing: -3px;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

.bgcolor { background: #f9f7f6; }

body .nomargin-bottom {
	margin-bottom: 0;
}

.input-group {
	position: relative;
	z-index: 1;
	display: inline-block;	
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	.serif(1.05em, 300, italic, #aaa);
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	.serif(70.25%, 500, normal, #D1D1D1);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input--nao {
	overflow: hidden;
	padding-top: 1em;
}

.input__field--nao {
	padding: 0.5em 0em 0.4em;
	width: 100%;
	background: transparent;
	color: @mint;
	font-size: 1.25em;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.graphic--nao {
	stroke: #DCDCDC;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: @dark-purple;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: @dark-purple;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}

.example-text{
	font-size: 13px;
	text-align: left;
}

[placeholder]::-webkit-input-placeholder {
  opacity: 0;
  color: @grey;
}

[placeholder]:focus::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s 0.5s ease;
}

.alert{
	font-style: italic;
  	padding-top: 28px;
  	line-height: 40px;
}

/* ------------------------------------- User Profile Page  ------------------------------------ */

.check-box{
	padding: 30px 0px 10px 0px;
	cursor: pointer;
}

.notifications-setting-form button[type="submit"]{
	outline:none;
}

.hero {
	text-align: center;
	width: 100%;
  	display: table;
	background-color: #F9F7F6;
	padding: 80px 0px;
}

.user-tasks {
	background-color: #f0efee;
	padding: 80px 60px;

	h2 {
		padding: 30px;
	}

	.line-break{ 
	  display:table;
	  text-align:center; 
	  width:100%; 
	  padding:10px 10px 40px 10px;
	  margin:0 auto;
	}
	.line-break:before, .line-break:after{ 
	  	content:'';
		display:table-cell; 
		width:50%;
	 	top: -16px;
  		position: relative;
  		border-bottom: 2px solid #E0DEDC;
	}
	.line-break > h2{ white-space:pre; padding:0 30px; }
}

.total-task{
	h2{
		font-size: 80px;
		color: @purple;
		font-style: normal;
		opacity: 1;
	}
}

/* ------------------------------------- LEADERBOARD  ------------------------------------ */

.user-image-most-helpful img:hover{
	border-color: @light-purple;
}
.user-image-most-helpful img{
	width: 220px;
	height: 220px;
	border-radius: 50%;
	overflow: hidden;	
	border: 13px solid white;
	margin: 40px 0px 10px 0px;
	-webkit-transition: border .4s;
   	transition: border .4s;
}


/* ------------------------------------- FOOTER ------------------------------------ */

.footer{
	background-image: url("@{img-path}footer.svg");
	height: 500px;
	background-size: cover;
	background-position: center;
}

.footer-info{
	padding-top: 12px;
}

.footer-info h5:hover{
	color: @mint;
}


/* ------------------------------------- MEDIA QUERIES ------------------------------------ */

@media screen and (max-width: 1390px) {
	.input__label{
		font-size: 18px;
	}
	.input__field--nao {
		font-size: 24px;
	}
	.input{
		max-width: 246px;
		margin: 0.5em;
	}
}

@media screen and (max-width: 900px) {
	.footer{
		height: 360px;
	}
}

@media screen and (max-width: 650px) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
	.content{
		padding: 1em;
	}
	.hero{
		  padding: 30px 30px;
	}
	.total-task h2{
		font-size: 38px;
	}
	.content h2{
		margin: 0;
	}
	hr{
		margin: 20px auto;
	}
	.user-card{
		height: 235px;
		margin: 20px 1%;
	}
	h2{
		font-size: 18px;
	}
	h3{
		font-size: 30px;
		line-height: 38px;
	}
	h4{
		font-size: 16px;
	}
	h5{
		font-size:12px;
	}
	h6{
		font-size: 12px;
	}
	.user-image-most-helpful img{
		margin: 15px 0px 10px 0px;
	}
	.user-tasks{
		padding: 10px 0px 10px 0px;
	}
	.user-tasks .line-break{
		padding: 10px 10px 0px 10px;
	}
	.task{
		margin: 20px 0px;
	}
	.claimed-popup{
		padding: 40px;
	}
	.claimed-popup h2 {
  		font-size: 22px;
  		margin-bottom: 0px;
  		line-height: 36px;
	}
	p{
		font-size: 14px;
		line-height: 25px;
	}
	.small.progress-button{
		margin-top: 10px;
	}
	.small.progress-button button{
		margin-top: 15px;
	}
	.user-created-task {
  		height: 338px !important;
	}
	.user{
		display: none;
	}
	.open-menu{
		display: inline;
	}
	.logo-text{
		padding: 0px 10px 0px 10px;
		bottom: 23px;
		font-size: 25px;
	}
	.introduction-content{
		width: 80%;
	}
	.intro-text {
  		line-height: 38px;
  		font-size: 20px;
	}
	.introduction img{
		margin-top: 50px;
		margin-bottom: 30px;
	}
	.footer{
		height: 220px;
	}
	.email-content{
		padding: 50px;
		margin: 20px;

		h2{
			font-size: 20px;
			line-height: 32px;
		}
		h1{
			.serif(25px, 300, italic, @purple);
			line-height: 35px;
		}
	}
	.ui-datepicker{
		width: 280px;
	}
	.ui-datepicker td a {
  		padding: 12px 7px;
	}
	.form-field{
		input{
			width: 280px;
		}
	}

}

// ------------------------------------------------------------------------
.notifications-setting-form {
	button[type="submit"] {
		border: none;
  		background-color: transparent;
	}	
}
.small.progress-button .halp-edit-button {
	border-color: @dark-purple;
	color:@dark-purple;
}
.progress-button .halp-edit-button:hover {
	background-color: @dark-purple;
	color:white;	
}
.edit-card {
	.task-details.edit {
		display: none;
	}
	.task-edit {
		padding: 25px;
	}
	input[type=text] {
		padding: 10px;
		border:none;
		border-bottom:1px solid @grey;
		font-family: 'Montserrat', sans-serif;
		color: @purple;
		margin-bottom: 10px;
	}
	.cancel-edit {
		margin-top: 10px;
		font-size: 12px;
		display: table;
		text-align: center;
		width: 100%;
	}	
}

.input-error {
	position: absolute;
	background: @purple;
	color: red;
  	font-size: 20px;
  	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	left: 20%;
	padding: 10px;
}
.input-error:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: @purple;
	border-width: 10px;
	margin-left: -10px;
}
