@import 'base.less'; 
@import 'common.less';
@import 'helpers.less';
@import 'popup.less';
@import 'ui.less';
@import 'cards.less';
@import 'login.less';
@import 'taskdetail.less';
@import 'mobilemenu.less';
@import 'error.less';
@import 'footer.less';
@import 'pagination.less';

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

/* ----------------------------------- MISC ----------------------------------- */

body {
	background: @dark-purple;
	color: @purple;
	font-weight: 500;
	font-size: 1.05em;
	font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
}
a {
	color: @mint;
	text-decoration: none;
	outline: none;
	-webkit-transition: color .2s;
   	transition: color .2s;
}

a:hover, a:focus {
	color: @purple;
}

p{
	.serif(20px, 400, normal, @purple);
	line-height: 32px;
}
.details{
	font-size: 16px;
	font-style: italic;
	color: @light-purple;
	line-height: 32px;
	padding-top: 22px;
}  

h2{
	.serif(32px, 300, italic, @purple);
	line-height: 40px;
}

h3{
	.serif(50px, 300, italic, @dark-purple);
	line-height: 68px;
}
.light-h3{
	color: #fff;
}

h4{
	.serif(20px, 400, italic, @light-purple);
}
.small-h4{
	font-size:14px;
}

h5{
	.sans-serif(13px, @purple);
	line-height: 37px;
}
h6{
	.sans-serif(13px, @light-purple);
	line-height: 37px;
}
.special-note{
	line-height: 23px;
	color: @mint;
}
.more-details{
	padding-top:10px;
}


.user-name-leaderboard h5{
	color: #fff;
}

hr{
	width: 60px;
  	border: 1px solid;
  	margin: 30px auto;
}
.container {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.content {
	font-size: 150%;
	padding: 80px;
	background-color: #f0efee;
}

.turtle-break {
	margin: 0;
	background-color: #f0efee;
	h3{
		font-size: 38px;
		padding-top: 12px;
	}
}
.turtle-break img, .turtle-break svg {
	vertical-align: middle;
  	margin: 0 10px;
}
.turtle-line {
  	width: 20%;
  	height: 2px;
  	background-color: #E6E6E6;
  	display: inline-block;
}
.turtle-svg {
	display: inline-table;
}

.halp-special-text{
	.serif(19px, 400, italic, #fff);
	text-transform: lowercase;
}
.i-need{
	line-height: 70px;
	bottom: 1px;
    position: relative;
}

.user-details hr{
	color: #fff;
}

/* ----------------------------------- TOP NAV ----------------------------------- */

.nav{
	background-color: @dark-purple;
	height: 60px;
	.sans-serif(12px, #fff);
}

.user{
	float: right;
  	padding: 23px;
}

.username{
	padding-right: 20px;
	color: #fff;
}

.logo{
	float: left;
	padding-left: 10px;
	height: 60px;
}

.logo-text{
	padding: 15px;
	.serif(32px, 300, italic, @purple);
	text-transform: lowercase;
	position: relative;
  	bottom: 19px;
  	letter-spacing: 0px;
}



/* ------------------------------------- FORM ------------------------------------ */

.content h2 {
  	margin: 0 0 27px;
  	opacity: 0.1;
  	font-size: 70px;
  	font-weight: 300;
  	letter-spacing: -3px;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

body .nomargin-bottom {
	margin-bottom: 0;
}

.input-group {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: 350px;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	.serif(1.05em, 300, italic, #aaa);
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	.serif(70.25%, 500, normal, @light-purple);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input--nao {
	overflow: hidden;
	padding-top: 1em;
	[placeholder]::-webkit-input-placeholder {
  		opacity: 0;
  		color: @dark-purple;
	}
	[placeholder]:focus::-webkit-input-placeholder {
  		opacity: 1;
  		transition: opacity 0.5s 0.5s ease;
	}
}

.input__field--nao {
	padding: 0.5em 0em 0.4em;
	width: 100%;
	background: transparent;
	color: @mint;
	font-size: 1.25em;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.graphic--nao {
	stroke: @light-purple;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: #fff;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #fff;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}

.example-text{
	font-size: 13px;
	text-align: left;
}



.alert{
	font-style: italic;
  	padding-top: 28px;
  	line-height: 40px;
}

/* ------------------------------------- User Profile Page  ------------------------------------ */

.check-box{
	padding: 30px 0px 10px 0px;
	cursor: pointer;
}

.notifications-setting-form button[type="submit"]{
	outline:none;
}

.hero {
	text-align: center;
	width: 100%;
  	display: table;
	background-color: #F9F7F6;
	padding: 80px 0px;
	hr{
		color: #fff;
	}
	p{
		color: @light-purple;
	}
	h5{
		color: #fff;
	}

}

.user-tasks {
	background-color: #f0efee;
	padding: 80px 60px;

	.line-break{ 
	  display:table;
	  text-align:center; 
	  width:100%; 
	  padding:10px 10px 40px 10px;
	  margin:0 auto;
	}
	.line-break:before, .line-break:after{ 
	  	content:'';
		display:table-cell; 
		width:50%;
	 	top: -16px;
  		position: relative;
  		border-bottom: 2px solid #E0DEDC;
	}

	.line-break > h2{ white-space:pre; padding:0 70px; }
}

.total-task{
	h2{
		font-size: 80px;
		color: @purple;
		font-style: normal;
		opacity: 1;
	}
}

.user-overview img{
	width: 220px;
	height: 220px;
	border-radius: 50%;
	overflow: hidden;	
	border: 13px solid @dark-purple;
}

/* ------------------------------------- AWARDS ON USER PROFILE PAGE ------------------------------------ */

.user-task-awards{
	margin: 0 auto;
	background-color: #495867;
	overflow:hidden;
	width: 930px;
	padding: 70px 0;
}

.user-award{
	float: left;
	width: 16.6%
}

/* ------------------------------------- LEADERBOARD  ------------------------------------ */

.user-image-most-helpful img:hover{
	border-color: @mint;
}
.user-image-most-helpful a img{
	width: 220px;
	height: 220px;
	border-radius: 50%;
	overflow: hidden;	
	border: 13px solid @dark-purple;
	margin: 40px 0px 10px 0px;
	-webkit-transition: border .4s;
   	transition: border .4s;
   	z-index: 10;
   	position: relative;
}
.bird-left{
	position: relative;
  	top: -53px;
  	right: -7px;
  	z-index: 3;
}
.bird-right{
	position: relative;
  	top: -53px;
  	left: -7px;
  	z-index: 3;
}

.weekly-awards{
	margin: 0 auto;
	overflow:hidden;
	width: 930px;
	padding: 70px 0;
	hr{
		margin: 11px auto 20px auto;
		width: 30px;
	}
}

.award{
	float: left;
	width: 33%;
	text-align: center;
	.headshot{
		border-radius: 50%;
		border: 10px solid @mint;
		margin-bottom: 36px;
	}
}
.award-image{
	margin-left: -34px;
    vertical-align: top;

}



// ------------------------------------------------------------------------

.bgcolor { background: #f9f7f6; }
.bgcolor2 { background: @purple; }

.rain-bg{
	background: @purple;
	background-image: url("@{img-path}rain.svg");
	background-size: cover;
	background-position: center;
}
.notifications-setting-form {
	button[type="submit"] {
		border: none;
  		background-color: transparent;
	}	
}
.small.progress-button .halp-edit-button {
	border-color: @dark-purple;
	color:@dark-purple;
}
.progress-button .halp-edit-button:hover {
	background-color: @dark-purple;
	color:white;	
}
.edit-card {
	.task-details.edit {
		display: none;
	}
	.task-edit {
		padding: 25px;
	}
	input[type=text] {
		padding: 10px;
		border:none;
		border-bottom:1px solid @grey;
		font-family: 'Montserrat', sans-serif;
		color: @purple;
		margin-bottom: 10px;
	}
	.cancel-edit {
		margin-top: 10px;
		font-size: 12px;
		display: table;
		text-align: center;
		width: 100%;
	}	
}



/* ------------------------------------- PROGRESS BAR ------------------------------------ */

.task-ratio{
	margin: 0 auto;
}

.progress-title{
	.sans-serif(13px, #fff);
	line-height: 37px;
	padding-top: 22px;
}
.tug-of-war{
	height: 59px;
	width: 840px;
  	margin: 0 auto;
}
.tug-of-war-turtle{
	float: left;
  	position: relative;
  	bottom: 54px;
  	left: 25px;
  	z-index: 200;
}
.tug-of-war-skunk{
	float: right;
  	position: relative;
  	bottom: 67px;
  	left: 20px;
  	z-index: 200;
}

.meter { 
	height: 5px;  
	position: relative;
	margin: 30px auto;
	background: @purple;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0px;
	width: 680px;

}
		
.meter > span {
	display: block;
	height: 100%;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	 border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #fff;
 	 position: absolute;
  	overflow: hidden;
  	top: 0;
  	left: 0;
}

.slash{
	color: #33394A;
}
.leaderboard-hr{
	color: @light-purple !important;
}


// ------------------------------------------------------------------------
// MEDIA QUERIES
// ------------------------------------------------------------------------
@media screen and (max-width: 1390px) {
	.input__label{
		font-size: 18px;
	}
	.input__field--nao {
		font-size: 24px;
	}
	.input{
		max-width: 246px;
		margin: 0.44em;
	}
	.input-error{
		margin-top: -2px;
		left: 38%;
	}
	.progress-button {
		margin: 27px 0 17px 0;
	}
}

@media screen and (max-width:1000px){
	.tug-of-war{
		width: 520px;
	}
	.meter{
		width: 350px;
	}

}

@media screen and (max-width:940px){
	.award{
		float: none;
		width: 100%;
    	padding-bottom: 50px;
	}
	.weekly-awards{
		width: 100%;
	}
}

@media screen and (max-width:750px){
	.content{
		padding: 20px;
	}
}


@media screen and (max-width: 650px) {
	.input{
		margin: 0;
	}
	.input__label{
		font-size: 16px;
	}
	.input__field--nao {
		font-size: 22px;
	}
	.user-overview img {
		width: 160px;
    	height: 160px;
	}
	.user-image-most-helpful a img{
		width: 160px;
    	height: 160px;
        margin: 19px 0px 10px 0px;
	}
	.tug-of-war img{
		display: none;
	}
	.tug-of-war{
		width: 300px;
	}
	.meter{
		width: 230px;
	}
	.codrops-header h1 {
		font-size: 2.8em;
	}
	.content{
		padding: 20px 10px;
	}
	.hero{
		  padding: 30px 30px;
	}
	.total-task h2{
		font-size: 38px;
	}
	.content h2{
		margin: 0;
	}
	hr{
		margin: 20px auto;
	}
	.user-card{
		height: 235px;
		margin: 20px 1%;
	}
	h2{
		font-size: 18px;
	}
	h3{
		font-size: 30px;
		line-height: 38px;
	}
	h4{
		font-size: 16px;
	}
	h5{
		font-size:12px;
	}
	h6{
		font-size: 12px;
	}

	.user-image-most-helpful img{
		margin: 15px 0px 10px 0px;
	}
	.user-tasks{
		padding: 10px 0px 10px 0px;
		h6{
			display: none;
		}
	}
	.user-tasks .line-break:before, .user-tasks .line-break:after{
		border-bottom: none;
	}
	.user-tasks .line-break{
		padding: 10px 10px 0px 10px;
	}
	.task{
		margin: 20px 0px;
	}
	.claimed-popup{
		padding: 60px 20px;
	}
	.claimed-popup h2 {
  		font-size: 22px;
  		margin-bottom: 18px;
  		line-height: 36px;
  		margin-top: 0px;
	}
	.selector{
		display: block;
		float: none;
		margin: 0px 0 20px 0;
	}
	.date-field{
		float: none;
		display: block;
	}
	.date-wrapper{
		height: 210px;
	}
	.date-wrapper-edit{
		height: 160px;
	}
	p{
		font-size: 14px;
		line-height: 25px;
	}
	.small.progress-button{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.small.progress-button button{
		margin-top: 15px;
	}
	.user-created-task {
  		height: 338px !important;
	}
	.user{
		display: none;
	}
	.open-menu{
		display: inline;
	}user
	.logo-text{
		padding: 0px 10px 0px 10px;
		bottom: 23px;
		font-size: 25px;
	}
	.introduction-content{
		width: 80%;
		padding: 0;
	}
	.intro-text {
  		line-height: 38px;
  		font-size: 17px;
	}
	.introduction img{
		margin-top: 12px;
		margin-bottom: 30px;
	}
	.footer{
		height: 220px;
	}
	.footer .footer-bg{
		display: none;
	}
	.halp-list-menu li{
		padding: 0px 10px;
	}
	.made-at-ideo{
		padding-top: 43px;
	}
	.email-content{
		padding: 50px;
		margin: 20px auto;
		width: 90%;
		p{
			font-size: 14px;
  			line-height: 24px;
		}
		h3{
			font-size: 29px;
  			line-height: 37px;
		}
		h2{
			font-size: 20px;
			line-height: 32px;
		}
		h1{
			.serif(25px, 300, italic, @purple);
			line-height: 35px;
		}
		.claimer{
			font-size: 14px;
			line-height: 24px;
		}
		h4{
			line-height: 24px;
		}
	}
	.ui-autocomplete {
		background: #eee;
	}
	.ui-datepicker{
		width: 280px;
		margin-left: -30px;
	}
	.ui-datepicker td a {
  		padding: 12px 7px;
	}
	.form-field{
		input{
			// text-indent: 23px;
			width: 263px;
		}
	}
	.bird-left{
		display: none;
	}
	.bird-right{
		display: none;
	}
	.menu-wrap{
		display: block;
	}
}