.claimed-popup {

  position: relative;
  background: #FFF;
  padding: 70px;
  width: auto;
  max-width: 620px;
  margin: 20px auto;
  text-align: center;
  
  h2 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  
  .claimed-buttons {
    width: 100%;
    button {
      display: inline-block;
    }
  }
  
  .mfp-close {
    font-size: 65px;
  }
}

.front-facing-turtle {
  margin: 0 auto;
  display: block;
  margin-bottom: -20px;
}

.mfp-close-btn-in .mfp-close {
  margin: 20px;
  color: @mint !important;
  font-size: 48px;
}

.mfp-bg{
  background: @mint !important;
}