.claimed-popup {

  position: relative;
  background: #FFF;
  padding: 50px;
  width: auto;
  max-width: 620px;
  margin: 20px auto;
  
  h2 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  
  .claimed-buttons {
    width: 100%;
    button {
      display: inline-block;
    }
  }
  
  .mfp-close {
    font-size: 65px;
  }
}