
.login{
	display: block;
	margin: 0 auto;
}

.login-button{
	padding: 10px 0px 70px 0px;
}

.login-button .progress-button button{
	width: 260px;
}

.introduction{
	background-color: @dark-purple;
  	font-size: 25px;
  	font-style: italic;
  	color: #fff;
  	font-weight: 300;
}

.introduction-content{
  	width: 40%;
  	margin: 0 auto;
  	padding: 0px 0px 30px 0px
}

.introduction img{
	margin-top: 100px;
}

.intro-text{
  	line-height: 46px;
}

.intro-text strong{
	color: @light-purple;
	font-weight: 300;
}

.dark-bg{
	background: @dark-purple;
}