// ------------------------------------------------------------------------
.ui-autocomplete {
	background: #fff;
	display: block;
	height: 250px;
	max-height: 250px;
	overflow: auto;
	z-index: 1000;
	position: relative;
	width: 350px;
	.sans-serif(12px, @purple);
	li {
		line-height: 25px;
		padding: 10px;
		cursor: pointer;
		text-align: center;
	}
	li:hover {
		color:#fff;
		background: @purple;
	}
	.ui-state-focus {
		background-color: fade(@purple, 50%);
	}

}


@media screen and (max-width: 1390px) {
	.ui-autocomplete {
		max-width: 246px;
	}
}
// ------------------------------------------------------------------------

::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
}

::-webkit-scrollbar-track {
  background: @dark-purple;
}

::-webkit-scrollbar-thumb {
  background: @mint;
}