// ------------------------------------------------------------------------
.ui-autocomplete {
	background: #fff;
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1000;
	position: relative;
	width: 350px;
	li {
		line-height: 25px;
		padding: 10px !important;
		cursor: pointer;
		text-align: center;
	}
	.ui-state-focus{
		color:#fff;
		background-color: @purple !important;	
	}
	li:hover {
		color:#fff;
		background: @purple;
	}
	.ui-state-focus {
		background-color: fade(@purple, 50%);
	}
}

.ui-widget{
	.sans-serif(12px, @purple);
	display: block;
	border: 0;
}

@media screen and (max-width: 1390px) {
	.ui-autocomplete {
		max-width: 246px;
	}
}
// ------------------------------------------------------------------------

::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
}

::-webkit-scrollbar-track {
  background: @dark-purple;
}

::-webkit-scrollbar-thumb {
  background: @mint;
}

.ui-datepicker td a{
	padding: 14px;
}

.ui-datepicker td{
	padding: 2px;
}

.ui-corner-all{
	background-color: @dark-purple;
	border-radius: 0;
	border: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default{
	border: 0;
	background-color: @purple;
	text-align: center;
	color: white;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight{
	background-color: white;
	color: @purple;
}

.ui-state-default:hover{
	background-color: @mint;
	color: @purple;
}

.ui-datepicker{
	width: 480px;
}

.ui-datepicker .ui-datepicker-header{
  position: relative;
  padding: 3px 0;
  margin: 2px 2px 4px 2px;
  .serif(16px, 400, italic, #fff);
  text-transform: none;
}

.ui-widget-header .ui-icon {
	background-image: url("@{img-path}ui-icons_ffffff_256x240.png");
}
.ui-widget-header .ui-state-hover{
	background-color: @dark-purple;
	border: 0px;
}
.ui-datepicker-next:hover{
	right: 2px;
	cursor: pointer;
	top: 2px;
}
.ui-datepicker-prev:hover{
	left: 2px;
	cursor: pointer;
	top: 2px;
}
.ui-datepicker table{
	margin: 0 0 2px;
}
.ui-helper-hidden-accessible{
	display: none;
}
