// ------------------------------------------------------------------------
.ui-autocomplete {
	background: #fff;
	height: 250px;
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1000;
	position: relative;
	width: 350px;
	li {
		line-height: 25px;
		padding: 10px !important;
		cursor: pointer;
		text-align: center;
	}
	.ui-state-focus{
		color:#fff;
		background-color: @purple !important;	
	}
	li:hover {
		color:#fff;
		background: @purple;
	}
	.ui-state-focus {
		background-color: fade(@purple, 50%);
	}
}

.ui-widget{
	.sans-serif(12px, @purple);
	display: block;
	width: 350px;
}


@media screen and (max-width: 1390px) {
	.ui-autocomplete {
		max-width: 246px;
	}
}
// ------------------------------------------------------------------------

::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
}

::-webkit-scrollbar-track {
  background: @dark-purple;
}

::-webkit-scrollbar-thumb {
  background: @mint;
}