.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.nav-sidebar {
	margin-right: -21px;
	margin-bottom: 20px;
	margin-left: -20px;
}

.textarea-editor {
	outline: none;
	outline: none;
	border: none;
	background-color: #222 !important;
	box-shadow: none;
	color: #ccc !important;
	font-size: 13px;
	font-family: Menlo, Monaco, monospace, sans-serif;
	
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}